@import "tailwindcss";

:root {
  --background: #222222;
  --foreground: #171717;
  overscroll-behavior: none;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden; /* prevents scrollbars */
  overscroll-behavior: none; /* disables pull-to-refresh, etc. */
}

.granim-text {
  background: url(#granim-canvas);
  background-clip: text;
  -webkit-background-clip: text; /* For cross-browser compatibility */
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent; /* Standard property */
}
