/* #0D0810
#262C45
#45C5D9
#7D7FA1
#F5EFED */


body {
    margin: 0;
    background-color: #0D0810;
    color: #F5EFED;
    font-family: 'Courier New', Courier, monospace;
    overflow-x: hidden;
}

/* NAV */

#navTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #262C45;
    width: 100vw;
    height: 7vh;
    position: fixed;
    z-index: 3;
}

#navLogo {
    font-size: 32px;
    margin-left: 10px;
}

#navLogo a {
    text-decoration: none;
    color: #F5EFED;
}

#navLogo a:hover {
    color: #7D7FA1;
    text-decoration: underline;
    text-decoration-color: #45C5D9;
    border-radius: 2px;

}

#navLinks {
    font-size: 26px;
    display: flex;
    gap: 1em;
    margin-right: 10px;
}

#navLinks a {
    text-decoration: none;
    color: #F5EFED;
}

#navLinks a:hover {
    color: #7D7FA1;
    text-decoration: underline;
    text-decoration-color: #45C5D9;
    border-radius: 2px;

}

/* Common css starts */
.headings {
    font-size: 38px;
    color: #45C5D9;
}

/* Common css ends */

/* MAIN */

#heroMain {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: relative;
}

#heroMain_Container {
    display: flex;
    flex-direction: column;
    width: 90vw;
    position: absolute;
    z-index: 2;

}

#heroMain_Name {
    font-size: 60px;
    color: #45C5D9;
}

#pokemon {
    color: #7D7FA1;
    font-size: 30px;
}

#ash {
    color: #F5EFED;
    font-size: 30px;
}

/* MAIN ENDS */

/* ABOUT ME */

#aboutMe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    gap: 5em;
}

#aboutMe_Container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    z-index: 2;
}

/* ABOUT ME ENDS */
/* PROJECTS */

#projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    gap: 5em;
}

#projects_Container {
    display: grid;
    align-items: center;
    width: 80vw;
    padding: 1em;
    /* border: 5px solid #45C5D9;
    border-radius: 15px; */
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    z-index: 2;
}

#scrolling_Projects {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10em;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

.proj {
    /* Important */
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5em;
    height: 60vh;
    width: 80vw;
    background-color: #7D7FA1;
    border-radius: 10px;
    scroll-snap-align: center;
    /* Important */
}

.proj_heading a {
    font-size: 28px;
    text-decoration: none;
    color: #F5EFED;
}

.proj_heading a:hover {
    color: #262C45;
    text-decoration: underline;
    text-decoration-color: #45C5D9;
    border-radius: 2px;
}

.proj_content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: 35vh;
    gap: 5em;
}

.proj_content img {
    height: 50vh;
    width: 24vw;
    border: 1px solid #45C5D9;
    border-radius: 10px;
    text-align: center;
    box-shadow: #262C45 20px 20px 20px;
}


.proj_content p {
    font-size: 20px;
}

/* PROJECTS ENDS */
/* CONTACT ME */

#contactMe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    gap: 5em;
}

#contactMe_Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

form {
    margin-top: 5vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding: 10px;
}

form input,
textarea,
button {
    width: 30vw;
    height: 3vh;
    border: none;
    border-bottom: 1px solid #7D7FA1;
    background-color: transparent;
    color: #45C5D9;
    text-align: center;
}

/* CONTACT ME ENDS */
/* FOOTER */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15vh;
}

footer hr {
    color: #45C5D9;
    width: 100vw;
}

/* FOOTER ENDS */
